body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    padding-bottom: 20px;
    flex: 1;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

.mainmenu {
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    flex: 1;
    padding-bottom: 30px;
    gap: 30px;
}

.logo {
    align-content: center;
    color: #F9FAF8;
    font-size: 24px;
}

.underheader {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    max-width: 100px;
}

.hero-text button {
    border: 0;
}

img {
    width: 500px;
    max-height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px;
    flex: 1;
}

.third-part {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 25px;
    flex: 1;
}

.under-container {
    display: flex;
    flex-direction: column;
    max-width: 800px ;
    align-items: flex-end;
}

.inspiring {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.thor {
 padding: 15px;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.pictures{
    display: flex;
    flex-direction: column;
    width: 150px;
}

.under-pictures {
    text-align: center;
}
.block-pictures {
    display: flex;
    gap: 15px;
}

.placeholder-container {
    border-color: lightblue;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.upper-footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex: 1;
}

.call-action {
    background-color: #3882F6;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 15px;
    flex: 1;
    align-items: center;
    background-color: #1f2937;
}

.sign-up-button {
    border-color: #E5E7EB;
    border-radius: 10px;
    border-style: solid;
}